<footer id="footer" class="d-flex footer justify-content-center">
    <div class="d-flex flex-column col-12 col-lg-11 ">
        <div class="d-flex flex-wrap top-footer py-5 ">
            <ul class="d-flex justify-content-between col-12 col-lg-6 footer__page-list px-0 my-2 my-lg-0">
                <li><a href="/">Home</a></li>
                <li><a href="/about#who-we-are">Who We Are</a></li>
                <li><a href="/about#what-we-do">What We Do</a></li>
                <li><a href="/about#why-us">Why Us</a></li>
                <li><a href="" class="" data-toggle="modal" data-target="#contactFormModal">Contact us</a></li>
            </ul>
            <ul class="d-flex justify-content-between col-12 col-lg-6 footer__project-list px-0 my-2 my-lg-0">
                <li><a href="/beulah-genesis"> Beulah Genesis</a></li>
                <li><span>|</span></li>
                <li><a href="/beulah-garden-city"> Beulah Garden City</a></li>
                <li><span>|</span></li>
                <li><a href="/beulah-cerry"> Beulah Cerry</a></li>
                <li><span>|</span></li>
                <li><a href="/future-projects"> Future Projects</a></li>
            </ul>
            <!-- end container -->
        </div>
        <div class="d-flex flex-wrap justify-content-center py-5 bottom-footer">
            <div class="d-flex justify-content-center col-12 col-lg-6 my-2 my-lg-0 justify-content-xl-start">
                <span>&copy; Beulah City
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    All rights reserved.
                </span>
            </div>
            <div class="d-flex justify-content-center col-12 col-lg-6 justify-content-xl-end">
                <i class="far fa-envelope mx-1"></i>
                <i class="fab fa-facebook-f mx-1"></i>
                <i class="fab fa-instagram mx-1"></i>
            </div>
        </div>
    </div>
</footer>