/*=================================================================
  Footer section
==================================================================*/

.top-footer {
  border-bottom: 5px solid #8a5a31;
  h3 {
    line-height: 1;
    color: $white;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  p {
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    padding-right: 20px;
  }
  li a {
    color: #bdbdbd;
    font-weight: 300;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
    &:hover {
      color: $primary-color-light;
    }
  }
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #2c2c2c;
  padding: 30px 0;
  h5 {
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
  }
  h6 {
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  a {
    color: $primary-color-light;
  }
}

.top-footer__list-item {
  color: #bdbdbd;
}

.top-footer i:hover {
  font-weight: bolder;
  font-size: 1.75rem;
}

.footer {
  background-color: #432916;
  font-size: 0.6rem;

  @include for-medium-screen-up {
    font-size: 0.8rem;
  }

  li {
    display: inline-block;
    margin: 0px 4px;
  }
}

.footer__page-list {
  text-transform: uppercase;
  @include for-large-screen-up {
    &::after {
      content: ' | ';
      text-align: center;
      color: white;
      font-weight: bolder;
    }
  }
}

.bottom-footer {
  color: #b17340;
  i {
    font-size: 1rem;
    color: black;
    background: white;
    border-radius: 25px;
    padding: 0.3rem;

    @include for-medium-screen-up {
      font-size: 1.1rem;
    }
  }
}
.footer__project-list {
  color: white;
}
