@import "../responsive";
/*=================================================================
  Navigation
==================================================================*/
.navigation {
  transition: 0.3s all;
  display: flex;
  flex-direction: row;

  .logo-default {
    display: none;
  }

  .navbar-light .navbar-nav {
    .nav-item {
      .nav-link {
        color: $white;
        font-size: 14px;
        line-height: 26px;
        padding: 20px 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.2s ease-in-out 0s;

        &:hover,
        &:active,
        &:focus {
          background: none;
          color: $primary-color-light;
        }
      }

      &.active {
        .nav-link {
          color: $primary-color-light;
        }
      }
    }

    .nav-item--secondary {
      background-color: #000;
      opacity: 0.6;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      &.active{
        background-color: #e57708;
      }
      &:hover,
      &:focus,
      &:active {
        opacity: 1;
        background-color: #ff9933;
      }

      .nav-link {
        color: $white;
        font-size: 12px;
        line-height: 26px;
        padding: 10px 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.2s ease-in-out 0s;
        font-family: Arial, Helvetica;
        &:hover,
        &:active,
        &:focus,
        &.active {
          color: $white;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .nav-link {
      padding: 10px !important;
    }
  }

  .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }

  .dropdown-menu {
    border: 0;
    border-radius: 0;
    top: 80%;
    left: 5px;
    display: block;
    visibility: hidden;
    transition: 0.3s ease;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    background: #000;
  }

  @media (max-width: 991px) {
    .dropdown-menu {
      display: none;
      opacity: 1;
      visibility: visible;
      transform: scaleY(1);
      transform-origin: unset;
      text-align: center;
    }
  }

  .dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }

  @media (max-width: 991px) {
    .dropdown-menu.show {
      display: block;
    }
  }

  .dropdown-item {
    color: rgba($color: $white, $alpha: 0.8);
    transition: 0.2s ease;
    padding: 10px;

    &:hover {
      color: $white;
      background: transparent;
      padding-left: 12px;
    }
  }
}

@media (max-width: 991px) {
  .navigation {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    background: $white;

    .navbar-light .navbar-nav {
      .nav-item {
        .nav-link {
          &:hover,
          &:active,
          &:focus {
            background: none;
            color: $primary-color-light;
          }
        }
      }
    }

    .logo-white {
      display: none;
    }

    .logo-default {
      display: block;
    }

    .navbar-light .navbar-toggler {
      color: rgba(#000, 0.5);
      border-color: rgba(#000, 0.1);
    }
  }
}

.sticky-header {
  background: transparent;

  .navbar-light {
    padding-bottom: 0px;

    .navbar-nav {
      margin-bottom: 0px;

      .nav-item {
        .nav-link {
          color: $black;
        }
      }
      .nav-item--secondary {
        background-color: $black;
        opacity: 1;
        margin-bottom: 0px;
        color: $white;

        .nav-link {
          color: white;
        }
      }
    }
  }

  .logo-white {
    display: none;
  }

  .logo-default {
    display: block;
  }
}

.navbar-brand {
  height: auto;
  padding: 8px 0;
}

.navbar-brand h1 {
  margin: 0;
}

.nav-item .separator {
  display: none;
}

@media (min-width: 991px) {
  .nav-item .separator {
    display: block;
  }
}

.project-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  color: white;
  overflow-x: scroll;
  overflow-y: hidden;
}

.project-nav__list {
  display: flex;
  flex-direction: row;
}

.project-nav__list-item {
  min-width: 300px;
  height: 180px;
  z-index: 20;
  cursor: pointer;

  @include for-large-screen-up {
    width: 20vw;
    height: 240px;
  }
}
.project-nav__first-list-item {
  opacity: 1;
}

.project-nav__list-item-bg {
  z-index: 10;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.75;
}

.project-nav__item-header {
  font-family: "apex-new";
  font-weight: bold;
}

.project-nav__item-info {
  height: inherit;
  padding: 5%;
}

.project-nav__item-desc {
  padding: 10% 0%;
  font-family: "apex-new";
  padding-top: 0px;
}

.project-nav__link {
  display: block;
}

.project-nav__link--inactive {
  display: none;
}

a.project-nav__link {
  color: #f93;
  position: absolute;
  bottom: 40px;
}

a.project-nav__link:active,
a.project-nav__link:hover {
  font-weight: bolder;
}

.navigation__item {
  flex-basis: 0;
}

.navigation__spacer-item {
  flex-grow: 3;
  border-top: 8px solid $primary-color-light;
}

.navigation__navbar-item {
  flex-grow: 4;
}

.navbar-nav--secondary {
  border-bottom: 3px solid #fff;
}
