/*=================================================================
  About us section
==================================================================*/

.about {
  padding: 100px 0;
  background: $white;

  .btn-about {
    background: $primary-color-light;
  }
  h4 {
    margin-top: 30px;
  }
  .feature-list {
    margin-top: 10px;
    li {
      width: 48%;
      display: inline-block;
      color: #666;
      font-size: 13px;
      font-family: $secondary-font;
      margin-bottom: 5px;
      font-weight: 600;
      i {
        color: $primary-color-light;
        margin-right: 8px;
      }
    }
  }
}

/*=================================================================
  About us 2 section
==================================================================*/
.about-2 {
  background: #f7f7f7;
  .checklist {
    padding-left: 30px;
    li {
      position: relative;
      margin-bottom: 15px;
      font-size: 16px;
      color: #777;
      font-family: $primary-font;
      &:before {
        position: absolute;
        margin-right: 12px;
        margin-left: -45px;
        content: '\f375';
        font-family: $icon-font;
        opacity: 1;
        border-radius: 50%;
        padding: 2px 8px;
        font-size: 20px;
      }
    }
  }
}

.project-info__nav-item + .project-info__nav-item::before {
  content: '|';
  color: #fff;
  padding: 1rem;
}

.project-info__nav-title::after {
  content: '>';
  color: #666;
  padding: 1rem;
}

.project-info {
  color: black;
}
.project-info__image {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}

.project-info__title {
  color: #4b3829;
  font-family: Arial, Helvetica;
  &:before {
    content: '|';
    color: #fe9930;
    padding: 2px;
  }
}
.project-info__title--center {
  text-align: center;
}
.project-info__description {
  color: black;
  text-align: left;
  color: black;
  line-height: 1.9;
  font-size: 17px;
  .rich-text p {
    text-align: left;
    color: black;
    line-height: 1.9;
    font-size: 17px;
    font-family: Arial, Helvetica;
  }
}
.project-details__section {
  width: 100%;
}
.project-floorplan {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    .project-ml-n {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.project-floorplan__card {
  width: 280px;
  height: 100%;
}

.project-floorplan__img {
  object-fit: contain;
  height: 100%;
  max-width: 100%;
}
.project-floorplan__header {
  font-size: 0.8rem;
  color: #4b3829;
}

.project-floorplan__header--alternate {
  color: #fe9930;
}

.project-floorplan__link {
  background-color: #ff8300;
  color: white;
}

.project-floorplan__expander {
  color: black;
}

.project-floorplan__brochure-img-container {
  min-height: 0;
}
.project-details__section--secondary-bg {
  background: #f9f9f9;
}

.project-item__brochure-link {
  color: #f93;
}

.project-info__nav-item {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica;

  &:hover {
    font-weight: bolder;
    color: white;
  }
}

.project-info__nav-container {
  min-height: 50px;
  text-align: center;
  color: white;

  @include for-medium-screen-up {
    font-size: 0.6rem;
  }

  @include for-large-screen-up {
    font-size: 1rem;
  }
}

.project-info__nav {
  background: linear-gradient(90deg, #ff9933 90%, #ff9933);
}

.project-details__tagline .rich-text {
  border-bottom: 1px solid #b2a293;
  p {
    color: #fe9930;
    font-size: 1rem;

    @include for-large-screen-up {
      font-size: 1.5rem;
    }
  }
}

.card-body {
  height: 260px;
  padding: 0px;
  .table {
    line-height: 0.5;
    padding: 0px;
    font-size: 0.74rem;
  }

  p {
    color: black;
  }
}

.project-floorplan__card-body--sm-font {
  font-size: 0.74rem;
}
.card-header {
  height: 65px;
}

.project-page {
  font-family: 'Garamond';
}
.bg-white {
  background-color: #fff;
}
#contactSalesForm .form-group label,
#contactSalesForm .form-group input {
  width: 100%;
  max-width: 200px;
}
